.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding-top: 75px;
  padding-right: 250px;
  padding-bottom: 50px;
  padding-left: 250px;
  // padding-left: 250px;
  // padding-right: 279px;
  z-index: 2;
}
