html {
  margin: 0 auto;
  color: purple;
  background-color: lightblue;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.heading {
  margin: 0;
  padding: 0;
  font-family: "Noe-Display", serif;
  font-weight: bold;
  font-size: 120px;
  color: #ffffff;
}

.heading__primary {
  line-height: 153px;
}

.heading__secondary {
  font-size: 72px;
}
